body { 
    margin: 0; 
    overflow: hidden; 
    font-family: Arial, sans-serif; 
}


#info { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: white; 
    background: rgba(230, 216, 216, 0.5); 
    padding: 10px; 
    border-radius: 5px; 
}

/* Stile del div laterale */
.menu-laterale {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }


#buttons {
    position: absolute;
    bottom: 2%;
    right: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 4%;
    height: 23%;
    width: 50%;
    font-size: 35px;
}
#toggleBtn{
    padding: 10px;
    padding-right: 25px;
}
#testo_bottoni{
    text-align: center;
    font-size: 90%;
}

button {
    padding: 5%;
    border: none;
    background: #00ff15c9;
    cursor: pointer;
    font-size: 50%;
    border-color: #00730a;
    border-style: solid;
    border-width: 1px;
}
button:hover {
    background: #067257;
    transform: scale(1.05);
}



.background-color-options {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
    z-index: 10;
    height: 8%;
}

.background-color-options p {
    margin: 0 0 10px 0;
    font-weight: bold;
}

.background-color-options button {
    background: rgb(0, 149, 40);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    color: rgb(255, 255, 255);
    height: 60%;
    width: auto;
    font-size: 90%;
}




.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.popup {
    font-size: 2em;
    color: rgb(247, 251, 255);
    background: rgba(47, 43, 43, 0.853);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 255, 119, 0.3);
    transition: transform 0.5s ease-in-out, bottom 0.5s ease-in-out, left 0.5s ease-in-out;
    border-color: #05d343;
    border-radius: 40px;
    border-style: solid;
    border-width: 2px;
    width: 34%;

}

#tutorialText{
    font-size: 0.7em;
}

body.blocked {
    pointer-events: none;
}
body.blocked .overlay {
    pointer-events: all;
}

.popup h2 {
    margin-top: 0;
}

.popup button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #6b7a8a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.popup button:hover {
    background: #05d343;
    transform: scale(1.05);
}

/* Reminder */
.reminder {
    color: aliceblue;
    position: fixed;
    bottom: 1%;
    left: 1%;
    background: rgba(33, 33, 33, 0.512);
    border-radius: 5px;
    font-size: 5em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 15%;
    padding-top: 5px; 
}

.reminder p {
    margin-top: 0; 
}



.popup.moving {
    transform: scale(0.6) translate(-700px, 400px);
}

.reminder.visible {
    opacity: 1;
}
.popup img {
    width: 100%;
    display: block;
    margin: 0 auto 10px auto;
}

.popup span {
    color: #05d343;  
    font-weight: bold;
}


.reminder {
    color: aliceblue;
    position: fixed;
    bottom: 10px;
    left: 10px;
    background: rgba(33, 33, 33, 0.512);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.popup.moving {
    transform: scale(0.6) translate(-700px, 400px);
}

.reminder.visible {
    opacity: 1;
}


.toggle-btn {
    position: fixed;
    left: calc(100% - 22vw - 2vw);
    top: 50%;
    width: 2%;
    height: 10%;
    background: #06dc09;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    transition: left 0.3s ease;
    font-size: 1rem;
}


.sidebar {
    width: 20vw;
    height: 100vh;
    background-color: #050505e9;
    color: white;
    position: fixed;
    right: 0; 
    top: 0;
    transition: right 0.3s ease;
    padding: 20px;    
    border-left: 2px solid #36595a;
}

.sidebar:not(.open) {
    right: -22vw;
}


.sidebar:not(.open) + .toggle-btn {
    left: calc(100% - 2vw);
}

h1 {
    color: #e33201;
    
}


.question {
    text-align: center; 
    font-size: 5em;
    height: 13%;   
    border-top: 2px solid #ef130b; /* Bordo solo sopra */
    border-bottom: 2px solid #ef130b; /* Bordo solo sotto */ 
    margin-bottom: 10%;
    
}
.question h1{
   font-size: 32%;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    padding: 2%;
    padding-top: 1%;
}
#navigation {
    position: absolute;
    bottom:10%; 
    right: 4%;
    width: 80%;
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

#navigation button {
    font-size: 100%; 
    background-color: #0086ab;
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}
#navigation button:hover {
   
    background-color: #2b4bff;
    transform: scale(1.05);
    transition: background-color 0.3s ease; 
}

#terminaBtn {
   width: 60%;

    font-size: 80%;
    font-weight: bold; 
    border: none;
    background-color: rgb(109, 31, 205);
    cursor: pointer;
}
#terminaBtn:hover {
    background: #00297a;
    transform: scale(1.05);
 }
#nextBtn {
    margin-left: auto;
   
}


h1 {
    
    font-size: 2vw; 
}

p {
    font-size: 2.4vh; 
}
#titolo-text {
    margin-top: 14%;
    font-size: 3vw;
}
.question-text {
    margin-bottom: 30%; 
    height: 20%;
    margin-bottom: 5%; 
    min-height: 80px; 
    max-height: 15vh; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    word-wrap: break-word; 
    padding: 10px; 
    font-size: 1.4vw;
}
#question {
    margin-top: 20%; 
    font-size: 3vw;
}