body { 
    margin: 0; 
    overflow: hidden; 
    font-family:'Montserrat', sans-serif; 
    font-weight: bold;
}
#info { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: white; 
    background: rgba(230, 216, 216, 0.5); 
    padding: 10px; 
    border-radius: 5px; 
}

#message{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: none;
}

/* Stile del div laterale */
.menu-laterale {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Trasparenza */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }

/* Bottoni principali */
#buttons {
    position: absolute;
    bottom: 2%;
    right: 25%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 4%;
    height: 23%;
    width: 50%;
    font-size: 35px;
}

#testo_bottoni{
    text-align: center;
    font-size: 90%;
}

button {
    padding: 5%;
    border: none;
    background: #00ff1ac9;
    cursor: pointer;
    font-size: 50%;
    border-color: #00730a;
    border-style: solid;
    border-width: 1px;
}
button:hover {
    background: #067257;
    transform: scale(1.05);
}



/* Reminder */
#reminder {
    position: fixed;
    bottom: 1%;
    width: 83%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
}

#carousel {
    display: flex;
    gap: 20%; /* Spazio tra i comandi */
    animation: scroll 30s linear infinite;
}

#carousel span {
    display: inline-block;
    white-space: nowrap;
    gap: 20%;
    font-size: 1em;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}


.popup.moving {
    transform: scale(0.6) translate(-700px, 400px);
}


.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #131313;
    color: white;
    position: fixed;
    right: 0; 
    top: 0;
    transition: right 0.3s ease;
    padding: 20px;    
    border-left: 2px solid #36595a;
}



h1 {
    color: #00eaff;
    
}


.question {
    text-align: center; 
    font-size: 5em;
    height: 13%;   
    border-top: 2px solid #8b8b8b; 
    border-bottom: 2px solid #8b8b8b; 
    margin-bottom: 10%;
    
}
.question h1{
   font-size: 32%;
}
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    padding: 2%;
    padding-top: 1%;
}
#navigation {
    position: absolute;
    bottom:10%; 
    right: 4%;
    width: 80%;
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

#navigation button {
    font-size: 100%;
    background-color: #0086ab;
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}


#terminaBtn {
   width: 60%;

    font-size: 80%;
    font-weight: bold; 
    border: none;
    background-color: rgb(109, 31, 205);
    cursor: pointer;
}
#terminaBtn:hover {
    background: #00297a;
    transform: scale(1.05);
 }
#nextBtn {
    margin-left: auto;
   
}


h1 {
    
    font-size: 2vw;
}

p {
    font-size: 2.4vh; 
}


#titolo-text {
    font-size: 2.5vw;
    color: #4affe1;
    text-align: center;
    margin-top: 14%; 
    font-size: 3vw;
}

.question-text {
    margin-bottom: 30%;
    height: 15%;
    margin-bottom: 5%; 
    min-height: 30px; 
    max-height: 15vh; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    word-wrap: break-word; 
    padding: 10px; 
    font-size: 1.4vw;
}
#question {
    margin-top: 10%; 
    font-size: 3vw;
    
}

 

.option-container {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    margin-top: 3%;
    width: 110%;
    justify-content: center; 
}



.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;
    border: 1px solid #414141;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 80%;
    height: 3.3vw;
    cursor: pointer;

}


.option-container:hover {
    transform: scale(1.05);
}


.option-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(0, 234, 255, 0.5);
}


.option-container.selected {
    background-color: #505050;
    border-color: #000000;
    box-shadow: 0px 0px 10px rgba(0, 234, 255, 0.5);
}


.option-text {
    flex: 1;
    font-size: 1.3vw;
    color: #ffffff;
}





.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}



.radio-option {
    appearance: none;
    width: 0.8vw;
    height: 0.8vw;
    border: 1px solid #f6f6f6fd;
    border-radius: 50%;
    background-color: transparent;  
    position: relative;
    right:2%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.radio-option::before {
    
    font-size: 1vw;
    color: rgba(61, 61, 61, 0.405); 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 0.3s ease-in-out;
}

.radio-option:checked {
    border-color: #ffffff;
    background-color: #4affe1;
}

.radio-option:checked::before {
   
    font-size: 1vw;
    font-weight: bold;
    color: rgb(34, 34, 34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#three-container.blurred canvas {
    filter: blur(6px);
    transition: filter 0.3s ease;
}

#interaction-prompt {
    position: absolute;
    top: 50%;
    left: 39%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    border-radius: 10px;
    z-index: 10;
    pointer-events: none; 
}


  #popupOverlay {
      position: fixed;
      top: 0; left: 0;
      width: 100vw; height: 100vh;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }

    #popupBox {
      background: #424242;
      color: white;
      padding: 2rem;
      border-radius: 10px;
      max-width: 30%;
      min-height: 12%;
      text-align: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    #popupBox p {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    #popupBox button {
      padding: 0.6rem 1.4rem;
      font-size: 1rem;
      cursor: pointer;
      background-color: #007e89;
      border-radius: 10%;
      color: #f1f1f1;
    }